# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*

# Env
.env
.env.local
.env.production
.env*.local
.env.*.local
.env*.save

# OS
.DS_Store

# Build
build/
dist/
.vercel
exports/
*.tsbuildinfo
